.lk-calendar {

  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    @media (max-width: 1400px) {
      flex-wrap: wrap;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 100px;
    @media (max-width: $widthxl) {
      margin-right: 25px;

    }
    @media (max-width: 1400px) {
      width: 100%;
      margin-bottom: 25px;
    }
    @media (max-width: $widthsm) {
      justify-content: space-between;
    }
  }
  &__item {
    width: 100%;
    margin-right: 40px;
    @media (max-width: $widthxl) {
      margin-right: 30px;
      width: calc(100% - 195px);
    }
    @media (max-width: $widthtable) {
      margin-right: 0;
      width: 100%;
    }
  }
  &__date {
    @media (max-width: $widthxl) {
      min-width: 165px;
    }
    @media (max-width: $widthtable) {
      min-width: initial;
      width: calc(100vw - 60px);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 30px;
      overflow-x: auto;
    }
  }
}

.lk-calendar-table {
  max-width: 260px;
  min-width: 260px;
  width: 100%;
  @media (max-width: $widthxl) {
    max-width: 100%;
    min-width: initial;
  }
  @media (max-width: $widthsm) {
    max-width: initial;
    width: initial;
  }
  @media (max-width: 385px) {
    width: 100%;
  }
  &__header {
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-roboto;
    padding-bottom: 20px;
    span {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
    }
    strong {
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
    }
  }
  &__row {
    padding-left: 6px;
    font-family: $font-roboto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      line-height: 200%;
      font-weight: normal;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: $font-roboto;
      .name {
        min-width: 70px;
        margin-left: 0;
        display: block;
      }
      b {
        margin-left: 16px;
      }
    }
    strong {
      font-weight: normal;
      line-height: 200%;
      font-size: 14px;
    }
  }
  &__img {
    margin-left: 27px;
    width: 115px;
    height: 212px;
    min-width: 115px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: 385px) {
      display: none;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .private-office-create-ticket {
      font-size: 14px;
      margin-top: 0;
      line-height: 100%;
      font-family: 'Josefin Sans',sans-serif;
      text-align: center;
      text-transform: uppercase;
      padding: 21px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $widthmd) {
        margin:0;
        padding: 16px 0;
        display: flex;
      }
      @media (max-width: $widthsm) {
        max-width: 130px;
        min-width: 130px;
      }
    }
  }
  &__count {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: $colDarkGreen;
    strong {
      font-size: 24px;
    }
    span {
      font-size: 14px;
      font-weight: 300;
      font-family: $font-roboto;
    }
    @media (max-width: $widthsm) {
      margin-left: 15px;
    }
  }
}

.lk-calendar-item {
  background: #FAFAFA;
  border-radius: 50px;
  @media (max-width: $widthxl) {
    border-radius: 25px;
  }
  &__wrapper {
    padding: 11px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $widthsm) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__left {
    padding:11px 0 11px 17px;
    @media (max-width: $widthsm) {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__steps {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      transition: .3s linear;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      background: #fff;
      &.js-active, &:hover {
        cursor: pointer;
        b {
          border-color: $colDarkGreen;
          background: $colDarkGreen;
          color: #fff;
        }
      }
      b {
        width: 30px;
        height: 30px;
        transition: .3s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 50%;
        font-size: 14px;
        line-height: 120%;
        color: #CCCCCC;
      }
    }
  }
  &__subtext {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #000;
    font-family: $font-roboto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 6px;
    padding-bottom: 44px;
    @media (max-width: $widthxl) {
      padding-bottom: 30px;
    }
    @media (max-width: $widthmd) {
      padding-bottom: 10px;
    }
  }
  &__time {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    font-family: $font-roboto;
    color: #DB4444;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid #024638;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 12px;
    padding: 12px 0;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: $colDarkGreen;
    max-width: 157px;
    transition: .3s linear;
    &:hover {
      background: $colDarkGreen;
      color: #fff;
    }
    @media (max-width: $widthsm) {
      min-width: 130px;
      padding: 16px 0;
    }
  }
  &__right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @media (max-width: $widthsm) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__count {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 32px;
    padding-bottom: 19px;
    color: $colDarkGreen;
    strong {
      line-height: 100%;
      font-size: 24px;
    }
    span {
      font-size: 14px;
      font-weight: 300;
      font-family: $font-roboto ;
    }
    @media (max-width: $widthxl) {
      padding-right: 15px;
    }
    @media (max-width: $widthsm) {
      padding-right: 0;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 15px 0;
      strong {
        margin-right: 5px;
      }
    }
  }
  &__img {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 210px;
    height: 210px;
    @media (max-width: $widthxl) {
      border-radius: 25px;
    }
    img {
      width: 170px;
      height: 180px;
      object-fit: contain;
    }
    @media (max-width: $widthxl) {
      width: 170px;
      height: 170px;
      img {
        width: 140px;
        height: 150px;
      }
    }
  }
  &__date {
    .lk-calendar-date {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.lk-calendar-date {
  padding: 8px 23px 8px 23px;
  cursor: pointer;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s linear;
  @media (max-width: $widthmd) {
    margin-bottom: 0;
    margin-right: 15px;
  }
  &:hover {
    border-color: $colDarkGreen;
  }
  &.js-active {
    border-color: $colDarkGreen;
  }
  &__number {
    margin-right: 10px;
    font-size: 36px;
    line-height: 42px;
    color: $colDarkGreen;
    @media (max-width: $widthtable) {
      font-size: 30px;
      line-height: 100%;
    }
  }
  &__content {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    strong {
      font-size: 18px;
      line-height: 21px;
    }
    span {
      font-family: $font-roboto;
      font-size: 16px;
      color: #CCCCCC;
      line-height: 21px;
    }
    @media (max-width: $widthmd) {
      border-radius: 5px 15px;
      strong {
        font-size: 14px;
        line-height: 100%;
      }
      span {
        line-height: 100%;
        font-size: 12px;
      }
    }
  }
}

.lk-calendar-future {
  margin-top: 50px;
  padding-top: 28px;
  border-top:  1px solid #CCCCCC;
  @media (max-width: $widthtable) {
    margin-top: 30px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $widthtable) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

  }
  &__title {
    font-size: 24px;
    line-height: 28px;
    color: $colDarkGreen;
  }
  &__year {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: $widthtable) {
      margin-top: 15px;
    }
    @media (max-width: $widthsm) {
      overflow-x: auto;
      width: calc(100vw - 60px);
      justify-content: flex-start;
    }
    &--item {
      transition: .3s linear;
      background: #F3F3F3;
      border-radius: 50px;
      padding: 14px 0;
      font-size: 13px;
      line-height: 140%;
      width: 125px;
      margin-left: 50px;
      text-align: center;
      font-weight: 300;
      color: #000;
      &.js-active, &:hover {
        background: $colDarkGreen;
        color: #fff;
      }
      @media (max-width: $widthxl) {
        width: 100px;
        margin-left: 15px;
      }
      @media (max-width: $widthtable) {
        margin-left: 0;
        margin-right: 15px;
      }
      @media (max-width: $widthsm) {
        min-width: 100px;
      }
    }
  }
}